@font-face {
    font-family: 'Gilroy-Bold';
    src: url(./font/Gilroy-Bold.woff2);
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url(./font/Gilroy-Medium.woff2);
}

@font-face {
    font-family: 'Gilroy-Semibold';
    src: url(./font/Gilroy-Semibold.woff2);
}

.rectangle1 {
    width: 381px;
    height: 291px;
}

.rectangle2 {
    width: 381px;
    height: 291px;
}

.rectangle3 {
    width: 381px;
    height: 291px;
}

.title_block1{
    color: #000;
font-family: Gilroy-Bold;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}